<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>gestion des utilisateurs</title>
</head>
<body>
  
    <section class="hero is-success is-small">      
        <div class="hero-body">
          <div class="container has-text-centered">
          <h1 class="title is-1 has-text-left">Utilisateurs</h1>
          </div><br>
          
      <section class="hero is-white">
          <div class="hero-body">
            <div class="table-container">
              <table class="table is-fullwidth">
                <tbody>
                  <tr>
                    <th class="is-light">Adresse email</th>
                    <th class="is-light">Mot de passe</th>
                    <th class="is-light">Role</th>
                    <th class="is-light">Modifier</th>
                    <th class="is-light">Supprimer</th>
                  </tr>
                  <% newResultat.forEach ((user) => { %>
                  <tr>
                  <form action="/admin/user/change/<%= user.username %>" method="post">
                       <td><input type="email" name="username" class="input"  value="<%= user.username %> "></td>
                       <td><input type="password" name="password" class="input" value="<%= user.password %> "></td>
                       <td>
                       <select name="label" class="input" >
                        <% if ( user.label === 'vétérinaire') { %>
                          <option value="vétérinaire">vétérinaire</option>
                          <option value="employé">employe</option>
                        <% }else { %>
                          <option value="employé">employe</option>
                          <option value="vétérinaire">vétérinaire</option>
                       <% } %>
                         </select>
                         </td>
                       <td><input type="submit" value="modifier" class="button is-warning  "></td> 
                  </form>
                  <form action="/admin/user/delete/<%= user.username %>" method="post">
                         <td><input type="submit" value="supprimer" class="button is-danger"></td> 
                  </form>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              <table class="table is-fullwidth">
                <tbody>
                  <tr>
                    <th class="is-light">Adresse email</th>
                    <th class="is-light">Mot de passe</th>
                    <th class="is-light">Nom</th>
                    <th class="is-light">Prenom</th>
                    <th class="is-light">Role</th>
                    <th class="is-light">Ajouter</th>
                  </tr>
                  <tr>
                    <form action="/admin/user/add" method="post">
                        <td><input type="email" name="username" class="input"  value=""></td>
                        <td><input type="password" name="password" class="input" value=""></td>
                        <td><input type="text" name="nom" class="input"  value=" "></td>
                        <td><input type="text" name="prenom" class="input" value=""></td>
                    <th>
                      <select name="label" class="input" >
                            <option value="vétérinaire">vétérinaire</option>
                            <option value="employé">employe</option>
                      </select>
                    </th>
                           <td><input type="submit" value="ajouter" class="button is-info"></td>
                    </form>
                  </tr>  
                </tbody>
              </table>
            </div>
          </div>
      </section>
          </div>
        </div>
    </section>
    
   <%- include ("../partials/dashbord.ejs") %>

    <script src="./J.s/index.js"></script>  
</body>
</html>